* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: Helvetica Neue, Tahoma, Arial, PingFangSC-Regular, Hiragino Sans GB, Microsoft Yahei, sans-serif;
}
a {
  color: #333;
  text-decoration: none;
}
img {
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
ul {
  list-style: none;
}
.ellipsis-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 22.4vw;
  z-index: 999;
  background-color: #fff;
}
header .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3.2vw 0 4.8vw;
  height: 11.73333333vw;
}
header .top .left .iconfont {
  font-size: 6.93333333vw;
  color: #fb7299;
}
header .top .right {
  display: flex;
}
header .top .right .iconfont {
  font-size: 5.86666667vw;
}
header .top .right .login {
  width: 6.4vw;
  height: 6.4vw;
  margin-left: 6.4vw;
}
header .top .right .download {
  width: 19.2vw;
  height: 6.4vw;
  margin-left: 6.4vw;
}
header .bottom {
  display: flex;
  justify-content: space-between;
  height: 10.66666667vw;
  border-bottom: 1px solid #eee;
}
header .bottom .more a {
  display: block;
  width: 10.66666667vw;
  height: 10.66666667vw;
  line-height: 10.66666667vw;
  text-align: center;
  color: #ccc;
}
header .bottom .more a .iconfont {
  font-size: 20px;
}
header .bottom .tab ul {
  display: flex;
}
header .bottom .tab ul li {
  margin: 0 3.2vw;
  line-height: 38px;
}
header .bottom .tab ul li a.current {
  display: inline-block;
  height: 10.13333333vw;
  color: #fb7299;
  border-bottom: 2px solid #fb7299;
}
section {
  padding: 22.4vw 1.33333333vw 0;
}
section .videoIndex {
  display: flex;
  flex-wrap: wrap;
}
section .videoIndex a {
  width: 50%;
  padding: 2.13333333vw 1.33333333vw;
  font-size: 3.2vw;
}
section .videoIndex a .pic {
  position: relative;
  margin-bottom: 1.33333333vw;
}
section .videoIndex a .pic .count {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2.13333333vw;
  width: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  color: white;
}
section .videoIndex a .pic .count i {
  vertical-align: middle;
}
