<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./lib/vue-2.4.0.js"></script>
    <style>
        .box {
            position: absolute;
            left: 50%;
            top: 20%;
            transform: translate(-50%, -50%);
            text-align: center;
            line-height: 30px;
        }
        
        .box a {
            display: inline-block;
            border: 1px solid grey;
            text-decoration: none;
            color: #000;
            margin: 5px 5px;
            padding: 5px;
            background-color: #ededed;
        }
        
        .box a:hover {
            background-color: red;
            color: #fff;
        }
        
        .box a.active {
            background-color: red;
            color: #fff;
        }
    </style>
</head>

<body>
    <div id="app">
        {{showGoodsData}}
        <div class="box">
            <div v-for="(typesArr,index) in mockData.json1" :key="index">
                <a href="javascript:;" :class="condition[types[index]] === item?'active':''" v-for="(item, i) in typesArr" :key="i" @click="changeData(types[index],item)">{{ item }}</a>
            </div>
        </div>
    </div>
</body>
<script>
    let vm = new Vue({
        el: "#app",
        data() {
            return {
                // 数据源
                mockData: {
                    json1: [
                        ["红色", "黄色", "蓝色"],
                        ["S", "M"],
                        ["棉的", "涤纶"],
                    ],
                    json2: [{
                        color: "红色",
                        type: "S",
                        mianliao: "棉的",
                        price: 100,
                    }, {
                        color: "红色",
                        type: "M",
                        mianliao: "棉的",
                        price: 200,
                    }, {
                        color: "红色",
                        type: "S",
                        mianliao: "涤纶",
                        price: 300,
                    }, {
                        color: "红色",
                        type: "M",
                        mianliao: "涤纶",
                        price: 400,
                    }, {
                        color: "黄色",
                        type: "S",
                        mianliao: "棉的",
                        price: 500,
                    }, {
                        color: "黄色",
                        type: "M",
                        mianliao: "棉的",
                        price: 600,
                    }, {
                        color: "黄色",
                        type: "S",
                        mianliao: "涤纶",
                        price: 700,
                    }, {
                        color: "黄色",
                        type: "M",
                        mianliao: "涤纶",
                        price: 800,
                    }, {
                        color: "蓝色",
                        type: "S",
                        mianliao: "棉的",
                        price: 900,
                    }, {
                        color: "蓝色",
                        type: "M",
                        mianliao: "棉的",
                        price: 1000,
                    }, {
                        color: "蓝色",
                        type: "S",
                        mianliao: "涤纶",
                        price: 1100,
                    }, {
                        color: "蓝色",
                        type: "M",
                        mianliao: "涤纶",
                        price: 1200,
                    }, ]
                },
                // 选中的条件对象
                condition: {},
                // 类型数组
                types: [],
            }
        },
        methods: {
            // 初始化商品数据(默认都选中第一个)
            initGoodsData() {
                this.types = Object.keys(this.mockData.json2[0]) // [color,type,mianliao,price]
                    // 遍历
                for (let i = 0; i < this.mockData.json1.length; i++) {
                    let type = this.types[i]
                    this.$set(this.condition, type, this.mockData.json1[i][0]) // condition:  {color:"红色",type:s,mianliao:"棉的"}
                    console.log(this.condition);
                }
            },
            changeData(type, data) {
                this.condition[type] = data // this.condition格式不是普通的对象，不能使用this.condition.type
                console.log(this.condition[type]);
                console.log(this.condition.type);
            },
            compareObj(obj1, obj2) {
                for (let key in obj1) {
                    if (obj1[key] === obj2[key]) {
                        continue
                    } else {
                        return false
                    }
                }
                return true
            }
        },
        computed: {
            showGoodsData() {
                return this.mockData.json2.filter(item => {
                    return this.compareObj(this.condition, item)
                })
            }
        },
        created() {
            this.initGoodsData()
        }
    })
</script>

</html>